

.App {
  text-align: center;
  display:flex;
  justify-content: center;
  margin: auto;
  
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px solid #f0f0f0;
  padding: 20px 0;
  font-size: 16px;
}


.header {
  background-image: url('./Images/gitbattle-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 54px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:55%;
  background-color: rgb(219, 243, 253);
  
}

.main {
  flex: 1;
  display: flex;
  
}

.mainContent{
  text-align: start;
  padding: 50px 100px ;
  width :100%;
  display:flex;
  justify-content: center;
}

.routerContent {
  display : flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
  padding-top: 50px;
  
  border-right: 1px dotted grey;
  background-color: rgb(189, 228, 245)
  
  }
  

.footer {
  background-image: url('./Images/gitbattle-footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 54px;
  align-items: center;
  color: white;
  height: 65px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer div {
  display: inline;
}

.footer div img {
  margin-right: 20px;
}

.footer div p {
  margin-left: 20px;
}

.input {
  width: 75%;
  height: 5px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  padding: 20px 0;
  font-size: 16px;
}

.buttonBattle {
  background-color: black;
  color: wheat;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 50px;
}

.buttonRemove {
  background-color: red;
  color: black;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100px;
}


